<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>live-manager-action-extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>live-manager-export-extention.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>live-manager-share-extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>live-manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>live-saving-extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A5402961CC177A700A48C8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5402A91CC1DC7000A48C8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A9B3A521D010EFE0090D33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB8B3D41CBB571D0068052B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB8B3EB1CBB571E0068052B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB8B3F61CBB571E0068052B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD550F31CEE9DC40025A2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD551051CEE9F5E0025A2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD551171CEEA12C0025A2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
